.idea
db/target
ear/target
ejb/target
loader/target
resources/target

web/src/main/resources/hibernate
resources/src/main/resources/LoadingEngine*
!resources/src/main/resources/LoadingEngine-EXAMPLE.properties
